/**
 * @name DDD
 * @author Disease#5663
 * @version 1.0.11
 * @description macOS with barely any customization.
 * @source https://github.com/maenDisease/BetterDiscordStuff/tree/main/Themes/Solana
 * @invite BShu37e4jg
 * @website https://maendisease.github.io/
 * @authorId 678469587444170762
 * @BDEditor Solana
*/

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@100;300;400;500;700&display=swap');
@import url('https://maendisease.github.io/BetterDiscordStuff/Themes/Solana/Solana.css');
@import url('https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css');
@import url('https://maendisease.github.io/BetterDiscordStuff/Themes/Solana/addon/mac-titlebar.css');
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Apple.css');

:root {
  --accent-hue: 213;
  --accent-saturation: 100%;
  --accent-brightness: 50%;
  --background-accent-hue: 213;
  --background-accent-saturation: 100%;
  --background-accent-brightness: 50%;
  --background-image: url('https://i.imgur.com/USZnItV.jpg'); /* url(https://site.com/foobar.png) | URL MUST BE A DIRECT LINK (ending in .jpg, .jpeg, .png, .gif) */
  --background-image-position: top right;
  --background-image-size: cover;
  --background-image-blur: 0px;
  --background-overlay-opacity: 80%;
  --background-overlay-color-lightness: 0;
  --background-hue-shift-strength: 100%;
  --window-background-image: initial;
  --window-background-image-position: top left;
  --window-background-image-size: cover;
  --window-background-image-attachment: fixed;
  --window-opacity: 91%;
  --window-blur: 0;
  --window-friends-blur: 0;
  --window-margin: 8;
  --window-margin-left: 0;
  --window-border-radius: 12px;
  --window-background-lightness: -0.09;
  --window-accent-tint-strength: 5%;
  --chat-bubble: 0;
  --text-link-hue: 201;
  --chat-text-brightness: 1;
  --home-icon: url('https://i.imgur.com/USZnItV.jpg');
  --favorites-icon: url('https://i.imgur.com/USZnItV.jpg');
  --dock-blur: 0; /* Blur intensity of the dock. */
  --dock-border-radius: 0;
  --sidebar-width: 232px;
  --members-width: 240px;
  --sidebar-text-brightness: 0.1;
  --background-floating-blur: 22px;
  --floating-background-lightness: 0;
  --background-floating-opacity: 1;
  --enable-floating-transparency: 1;
  --custom-font-display: Dongle;
  --custom-font-regular: Dosis;
  --custom-font-primary: Dosis;
  --custom-font-code: Chakra Petch;
  --enable-blur: 1;
}

/* Any custom CSS below here */


